<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>{% block title %}Music{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href={% static 'favicons/apple-touch-icon.png' %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static 'favicons/favicon-32x32.png' %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static 'favicons/favicon-16x16.png' %}>
    <link rel="manifest" href={% static 'favicons/site.webmanifest' %}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'css/bootstrap.css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/fontawsome.css/all.css' %}>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/popper.js/umd/popper.js' %}></script>
    <script src={% static 'js/bootstrap.js/bootstrap.min.js' %}></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center align-items-center">
            <a class="navbar-brand" href="/music/">Music App <i class="fas fa-music"></i> </a>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5 text-center">{% block formtitle %}Form{% endblock %}</h1>
                <p class="lead text-center">{% block formsubtitle %}fill form to enter{% endblock %}</p>
                <hr class="my-2">
                {% block formfield %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Main JavaScript -->
    <script src={% static 'js/settings_acc.js' %}></script>
    <script src={% static 'js/script.js' %}></script>
</body>

</html>