{% extends "accounts/base.html" %}

{% block title %}
Login to Music App
{% endblock title %}

{% block formtitle %}
Login
{% endblock formtitle %}

{% block formsubtitle %}
Login to listen cool music
{% endblock formsubtitle %}
{% load crispy_forms_tags %}
{% block formfield %}
<div class="container col-lg-4">
    {% if red %}
    <div class="toast" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Oopsi!</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body text-danger">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary"><strong>Incorrect
                        Credentials <small class="text-muted text-danger text-center">OR</small>
                        {{ data.inactive }}</strong></a>
            </div>
        </div>
    </div>
    {% endif %}
    <form method="POST" action={% url 'music:login' %}>
        {% csrf_token %}
        {% if not form %}
        <div class="form-group">
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="username" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        {% else %}
        {{form|crispy}}
        {% endif %}
        <p>Don't have an account, create one <a href={% url "music:signup" %} class="badge badge-danger">here</a></p>
        <button type="submit" class="btn btn-primary">Login <i class="fas fa-arrow-right fa-sm fa-fw"></i> </button>
    </form>
</div>
{% endblock formfield %}