{% extends 'music/base.html' %}
{% block title %} /home {% endblock %}

{% block home_link %}
<li class="nav-item active">
    <a class="nav-link" href={% url 'music:home' %}>Home <span class="sr-only">(current)</span></a>
</li>
{% endblock home_link %}

{% block current_username %}
{{user.username}}
{% endblock current_username %}Ram
{% block content %}

<div class="container-fluid px-0">
    <div id="demo" class="carousel bg-dark slide {% if user.song_set.count == 0 %}d-none{% endif %}"
        style="height:500px;" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            {% for song in user.song_set.all %}
            <li data-target="#demo" data-slide-to="{{song.id}}" class="{% if song.id == 0 %}active{% endif %}"></li>
            {% endfor %}

        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            {% for song in user.song_set.all %}
            <div class="carousel-item {% if song.id == 0 %}active{% endif %} text-center">
                <img class="img" src={{ song.song_cover.url }} alt="Card image" style='height:400px;'>
                <div class="carousel-caption">
                    <h6>{{song.song_title|upper}}</h6>
                    <p>Artist: {{song.song_artist}}</p>
                    <p>User: {{song.song_added_by}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <div class="container m-5">
        <div class="row">
            <div class="diaplay-3">
                <div class="row-head">
                    <h4>Latest Playlists</h4>
                </div>
            </div>
            <div class="card-columns">
                {% for plist in otheruserplaylist %}
                <div class="card">
                    <img class="card-img-top" src="/media/img/default-cover.jpg" alt="{{ plist.playlist_title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{plist.playlist_title}}</h4>
                        <p class="card-text">{{plist.playlist_user.username}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="diaplay-3">
                <div class="row-head">
                    <h4>Following Playlists</h4>
                </div>
            </div>
            <div class="card-columns">
                {% for plist in followingplaylist %}
                <div class="card">
                    <img class="card-img-top" src="/media/img/default-cover.jpg" alt="{{ plist.playlist_title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{plist.playlist_title}}</h4>
                        <p class="card-text">{{plist.playlist_user.username}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}